#newReport {
    background-color: #098cc8;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0 rgba(0,0,0,0);
    border-radius: 2px;
    -webkit-transition: background-color .2s,box-shadow .2s,background-color .2s,border-color .2s,color .2s;
    transition: background-color .2s,box-shadow .2s,background-color .2s,border-color .2s,color .2s;
    background-image: -webkit-linear-gradient(top,#0f9ada,#0076ad);
    background-image: linear-gradient(to bottom,#0f9ada,#0076ad);
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3),0 0 0 1px rgba(255,255,255,0.15) inset;
}

#newReport:hover {
    background-color:#21b0f1;
    background-image:-webkit-linear-gradient(top,#37c0ff,#0097dd);
    background-image:linear-gradient(to bottom,#37c0ff,#0097dd);
    color:#fff;border-color:transparent;
    box-shadow:0 0 rgba(0,0,0,0);
}

#searchBar {
    display:inline-block;
    float:right;max-height:20px;
    margin-top:-10px
}

#newReportBtn {
    padding-top:20px;
}

#sreport.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

#sreport.ng-valid.ng-touched {
    background-color: #78FA89;
  }
  
textarea.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

textarea.ng-valid.ng-touched {
    background-color: #78FA89;
  }


/* trashcan animation*/
#archiveTrashCan {
    height:24px;
    margin-bottom:-40px;
    margin-right:-8px
}

.grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.grow-shadow:hover, .grow-shadow:focus, .grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}