<!--REPORT LIST BODY-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title col-lg-11"><i class="fa fa-bar-chart-o fa-fw"></i> Report List</h3>
                <h3 class="panel-title col-lg-1" ng-if="isAdmin(username)">Archive</h3>
                <br />
            </div>
            <div class="panel-body">
                <div class="panel">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="report in reportList | filter: search | filter: sideNavCategory | orderBy:'title'">
                                <td>
                                    <b>{{report.Title}}</b>
                                    <br><small><a href="#">{{report.Link}}</a></small>
                                    <br><small>{{report.Description}}</small>
                                    This is used for debugging: {{report.Category}}
                                </td>
                                <td>
                                    <img id="archiveTrashCan" class="grow-shadow" src="images/Trash-can-icon.png" ng-click="archiveItem(item)" ng-if="isAdmin(username)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>